<div class="body">
    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid p-0">
            <a class="navbar-brand"> AURA AUTOS </a>
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/"> Inicio </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" fragment="catalogo"> Catalogo </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/clientes"> Clientes </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" fragment="cuenta"> Cuenta </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- HERO SECTION -->
    <div class="hero text-white d-flex align-items-center">
        <div class="container">
            <h1 class="display-4"> Bienvenido a AURA AUTOS </h1>
            <p class="lead"> Descubre nuestra amplia selección de vehículos de alta calidad. <br>
                Encuentra el auto perfecto para ti con AURA AUTOS. </p>
        </div>
    </div>
    <section>
        <div class="container">
            <h2 class="text-white my-5 py-3"> Nuestro Catálogo </h2>
        </div>
    </section>
    <!-- CARDS -->
    <section id="catalogo" class="container">
        <div class="row g-4 m-0">
        @for(car of cars; track car.id) {
            <div class="col-md-4">
                <div class="card car-card">
                    <img src="{{car.link}}" class="card-img-top">
                    <div class="card-body text-center">
                        <h5> {{car.Nombre}} </h5>
                        <button class= "btn btn-outline-dark me-2" data-bs-toggle= "collapse"[attr.data-bs-target]="'#detalle' + car.id">
                            Ver detalles </button>
                            <button class="btn btn-outline-dark btn-favoritos me-2">
                                <i class="fa-solid fa-heart"></i>
                            </button>
                            <button class="btn btn-outline-dark btn-favoritos"> 
                                <i class="fa-solid fa-cart-shopping"></i>
                            </button>
                        <div class="collapse"[id] ="'detalle' + car.id">
                            <div class="card car-card mt-3">
                                <div class="card-body">
                                    <p>{{car.descripcion}}</p>
                                    <p> Cilindraje: {{car.Cilindraje}} </p>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
<!-- Seccion Cuenta -->
<div id="cuenta" class="card car-card form text-white">
<div class="card-body">
    <h2 class="form-title">Cuenta</h2>
    <div class="row g-4">
    <!-- INICIAR SESIÓN -->
    <div class="col-md-6">
        <div class="card p-3">
        <h3 class="form-title">Iniciar Sesión</h3>
        <form>
            <div class="mb-3">
            <label class="form-label">Correo electrónico</label>
            <input type="email" class="form-control">
            </div>

            <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-outline-dark">
            Enviar
            </button>
        </form>
        </div>
    </div>
    <!-- REGISTRO -->
    <div class="col-md-6">
        <div class="card p-3">
        <h3 class="form-title">Registrarse</h3>

        <form>
            <div class="mb-3">
            <label class="form-label">Nombre completo</label>
            <input type="text" class="form-control">
            </div>

            <div class="mb-3">
            <label class="form-label">Correo electrónico</label>
            <input type="email" class="form-control">
            </div>

            <div class="mb-3">
            <label class="form-label">Teléfono</label>
            <input type="tel" class="form-control">
            </div>

            <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control">
            </div>

            <div class="mb-3">
            <label class="form-label">Confirmar contraseña</label>
            <input type="password" class="form-control">
            </div>

            <button type="submit" class="btn btn-outline-dark">
            Registrarse
            </button>
        </form>
            </div>
        </div>
    </div>
</div>
</div>
<!-- FOOTER -->
<footer class="footer text-white pt-4">
    <div class="container-fluid border-top border-light pt-4">
        <div class="row text-center text-md-start">
            <div class="col-md-4 mb-3">
            <h5>Sobre Nosotros</h5>
            <p>AURA AUTOS es una empresa dedicada a la venta de vehículos de alta calidad.</p> </div>
        <div class="col-md-4 mb-3">
            <h5>Contacto</h5>
            <p>Teléfono: 3218840894</p>
            <p>Email: aura@autos.com</p></div>
        <div class="col-md-4 mb-3">
            <h5>Síguenos</h5>
            <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a><br>
            <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a><br>
            <a href="#"><i class="fa-brands fa-whatsapp"></i> WhatsApp</a>
    </div>
</div>
<hr>
    <div class="text-center pb-3">  2026 AURA AUTOS - Todos los derechos reservados </div>
    </div>
</footer>
</div>
